html, body {
    font-family: "Poppins", sans-serif !important;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden !important;
    background-color: #efefef;
}

.header {
    width: 100%;
    height: 100px;
    padding-left: 2%;
    padding-right: 10.94%;
    justify-content: flex-start;
    align-items: center;
    gap: 4.43%;
    display: flex;
}

.logo {
    width: 100%;
    height: 100%;
    position: relative;
}

#appContainer {
    margin-top: 50px;
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.table-wrapper {
    position: relative;
    flex: 1;
    padding: 50px;
    box-sizing: border-box;
}

.table-container {
    width: 100%;
}

.button-left, .button-right {
    width: 200px !important;
    height: 35px !important;
    background-color: #4D7C8A !important;
    border-radius: 8px !important;
    border-width: 0 !important;
    color: white !important;
}

.ui-datatable-even {
    background-color: #9BCCED !important;
}
.ui-datatable-odd {
    background-color: #B0D1E7 !important;
}

.ui-datatable table {
    border-collapse: collapse !important;
}

.ui-datatable .ui-datatable-scrollable-header thead > tr > th {
    background-color: #85C7F2 !important;
    color: #333 !important;
}

.ui-datatable .ui-datatable-scrollable-view {
    border-radius: 8px !important;
    overflow: hidden !important;
}

.iconButton {
    margin: 0 5px;
    background-color: transparent;
    border: none;
}
.iconButton:hover {
    cursor: pointer;
    color: #ffffff;
}